.operation {
  .operation-title {
    width:100%;
    .icon {
      padding: 10px 10px 10px 20px;
      >i {
        font-size:20px;
      }
      border-bottom: 1px solid #eee;
    }
  }

  .operation-container {
    padding:15px;
    .el-form {
      width:950px;
    }
  }
}


.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-table__header {
  thead {
    th {
      div {
        color:#606266;
        font-weight: 500;
      }
    }
  }
}


.page-search {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #EBEEF5;
  margin-bottom: 2px;
  align-items: center;
  >span {
    font-size:13px;
    padding: 0 10px;
    color:#666;
  }
  .el-form-item--mini.el-form-item {
    margin-bottom:0;
  }
}